

*,*:before,*:after{
    box-sizing: border-box;
}

.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
   
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    list-style: none;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header_body{
    position:relative;
    display: flex;
    justify-content: space-between;
    /* left: 50px; */
    height: 80px;
    align-items: center;
    
    }

.header_list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header_list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header_link{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    font-weight: 730; 
}
.header_link:hover{
    color: rgb(253, 93, 61);
}
.logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    text-decoration: none;
    top: 20px;
    position: fixed;
    left: 100px;
    z-index: 5;
}
@media (max-width:1200px) {
   
    .header_body{
        height: 50px;
    }
  
 .header_burger {
     position: relative;
     width: 30px;
     height: 20px;
     position:relative;
     z-index: 3;
 }  
 .header_burger span{
     position: absolute;
     background-color: rgb(255, 255, 255);
     left: 0;
     width: 100%;
     height: 2px;
     top: 9px;
     transition: all 0.3s ease 0s;
 }
 .header_burger:before,
 .header_burger:after{
     content:'';
     background-color: #fff;
     position: absolute;
     width: 100%;
     height: 2px;
     left: 0;
     transition: all 0.3s ease 0s; /* плавный переход */
 }
 .header_burger:before{
   top: 0;
}
 .header_burger:after{
     bottom: 0;
 }
 .header_burger.active span{
   transform: scale(0) ;
}
 .header_burger.active:before{
     transform: rotate(45deg); /* перевернуть палочку на 45 */
     top: 9px;
 }
 .header_burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
    
}
 .header_menu{
     position: fixed;
     top: -100%;  /* меню поднялось */
     left: 0;
     width: 100%;
     height: 100%;
     overflow: auto;;
     transition: all 0.3s ease 0s;
     background-color: rgb(31, 31, 31,0.95);
     padding: 70px 10px 20px 10px;
     
 }
 .header_menu.active{
    top: 0; /* меню появилось */
 }
 .header_list{
    display: block;
 }
 .header_list li{
    margin: 0px 0px 20px 0px;
 }
 .header_link{
    font-size: 24px;
 }
 .logo{
    font-size: 34px;
    color: rgb(255, 255, 255);
    position: fixed;
    left: 100px;
    top: 4px;
 }
 
}



